# Unreal Engine
Binaries/
DerivedDataCache/
Intermediate/
Saved/
Build/
Saved/Cooked/

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sdf
*.VC.db

# Rider
.idea/

# Mac
.DS_Store

# Python
__pycache__/

# Node
node_modules/

# WebCache and temporary files
Saved/webcache_*/
PipInstall/
ReimportCache/
ShaderAutogen/

# UAsset intermediate files
*.log
